html, body {
    margin: auto;
    text-align: center;
    /*padding: 10px;*/
    background-image: url(bg2.avif);
    background-size: cover;
  }
canvas {
   display: block;
   cursor: all-scroll;
   margin:auto;
 }
  
p{
  ruby-align: auto;
}

#images{
  margin: auto;
  text-align: center;
  /* background-color: aquamarine; */
  width: 600px;
  padding: 10px;
  /*margin: 50px;*/
}

#images #note{
  margin:auto;
  width: 100px;
  filter: blur(5px);
  text-align: center;
}
